<body data-ng-app="myApp" data-ng-controller="searchCtrl">

        <div class="errors">
          <ul data-ng-show="searchForm.submitted">
            <li data-ng-show="searchForm.leaving_from.$invalid">Departure Airport is invalid</li>
            <li data-ng-show="searchForm.leaving_from.$error.required">Departure Airport is required</li>
            <li data-ng-show="searchForm.leaving_from.$error.minlength">Departure Airport should be at least 3 charachters</li>
          </ul>
        </div>

        <form name="searchForm" novalidate="" role="form">
          <label for="leaving_from" data-ng-class="{'error-req': searchForm.leaving_from.$invalid}">From</label>
          <input type="text" placeholder="City or airport" id="leaving_from" name="leaving_from" data-ng-model="search.leavingFrom" required data-ng-minlength="3">

          <button type="submit" data-ng-click="submitSearch()">submit</button>
          <button disable="! searchForm.$valid" data-ng-click="reset()">reset</button>
        </form>

    </body>
